<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="vita-first.ZPM">
    <Module>
      <Name>vita-first</Name>
      <Version>1.0</Version>
      <Description>Basic InterSystems IRIS Development Template</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="vtsareva.sample.PKG"/>
      <UnitTest Name="/tests" Package="vtsareva.sample.unittests" Phase="test"/>

    </Module>
  </Document>
</Export>